[Unit]
Description=Hyprland Video Editor Notification Daemon
PartOf=graphical-session.target
After=graphical-session.target

[Service]
Type=simple
ExecStart=%h/.local/bin/notify-video-editor
Restart=on-failure
RestartSec=3

[Install]
WantedBy=default.target
