[Desktop Entry]
Version=1.0
Name=Devtalles
Comment=Devtalles
Exec=omarchy-launch-webapp "https://cursos.devtalles.com/enrollments"
Terminal=false
Type=Application
Icon=devtalles
StartupNotify=true
