[Desktop Entry]
Version=1.0
Name=Github
Comment=Github
Exec=launch-webapp "https://github.com/lumusitech?tab=repositories"
Terminal=false
Type=Application
Icon=github
StartupNotify=true
