[Desktop Entry]
Version=1.0
Name=Youtube Music
Comment=Youtube Music
Exec=omarchy-launch-webapp "https://music.youtube.com/"
Terminal=false
Type=Application
Icon=youtube-music
StartupNotify=true
