[Desktop Entry]
Version=1.0
Name=Udemy
Comment=Udemy
Exec=launch-webapp "https://www.udemy.com/home/my-courses/learning/"
Terminal=false
Type=Application
Icon=udemy
StartupNotify=true
