[Desktop Entry]
Version=1.0
Name=Google Keep
Comment=Google Keep
Exec=launch-webapp "https://keep.google.com/u/0/"
Terminal=false
Type=Application
Icon=google-keep
StartupNotify=true
