[Desktop Entry]
Version=1.0
Name=Google Workspace
Comment=Abrir documentos y planillas en sus respectivas WebApps
Exec=/home/carludev/.local/bin/open-google-workspace %u
Terminal=false
Type=Application
Icon=google-drive
Categories=Office;
MimeType=text/html;application/x-extension-html;
NoDisplay=false
