[Desktop Entry]
Name=Windows
Comment=Start Windows 11 VM via Docker and connect with RDP
Exec=launch-windows-vm
Icon=windows
Terminal=false
Type=Application
Categories=System;Emulator;
StartupNotify=true
