[Desktop Entry]
Version=1.0
Name=Zoom
Exec=launch-webapp "https://app.zoom.us/wc/home"
Terminal=false
Type=Application
Icon=zoom
StartupNotify=true
MimeType=x-scheme-handler/zoommtg;x-scheme-handler/zoomus
